<div class="container">

  <h1>אחמש"ים יוצאים</h1>
  <div class="bubbles-container">
      <app-pit-boss-bubble [pitBossRole]="'WAN'" [pitBossName]="'דניאל טלאור מוזס'" [pitBossImageUrl]='pitBossImageUrl'></app-pit-boss-bubble>
      <app-pit-boss-bubble [pitBossRole]="'WAN'" [pitBossName]="'דניאל טלאור מוזס'" [pitBossImageUrl]='pitBossImageUrl'></app-pit-boss-bubble>
      <app-pit-boss-bubble [pitBossRole]="'LAN'" [pitBossName]="'דניאל טלאור מוזס'" [pitBossImageUrl]='pitBossImageUrl'></app-pit-boss-bubble>
      <app-pit-boss-bubble [pitBossRole]="'צריפין'" [pitBossName]="'דניאל טלאור מוזס'" [pitBossImageUrl]='pitBossImageUrl'></app-pit-boss-bubble>      
  </div>

  <br>
  <br>
  
  <h1>אחמש"ים נכנסים</h1>  
  <div class="bubbles-container">
      <app-pit-boss-bubble [pitBossRole]="'WAN'" [pitBossName]="'דניאל טלאור מוזס'" [pitBossImageUrl]='pitBossImageUrl'></app-pit-boss-bubble>
      <app-pit-boss-bubble [pitBossRole]="'WAN'" [pitBossName]="'דניאל טלאור מוזס'" [pitBossImageUrl]='pitBossImageUrl'></app-pit-boss-bubble>
      <app-pit-boss-bubble [pitBossRole]="'LAN'" [pitBossName]="'דניאל טלאור מוזס'" [pitBossImageUrl]='pitBossImageUrl'></app-pit-boss-bubble>
      <app-pit-boss-bubble [pitBossRole]="'צריפין'" [pitBossName]="'דניאל טלאור מוזס'" [pitBossImageUrl]='pitBossImageUrl'></app-pit-boss-bubble>      
  </div>

</div>
