<h1 style="direction: rtl">פירוט כוח אדם במחלקה</h1>

<div class='container'>
 
<ul>

  <li class='li-vication'><u>חופש</u> <div>דניאל טלאור מוזס <br> dsa</div></li>
  <li class='li-after-boss'><u>אחרי משמרת</u></li>
  <li class='li-duty'><u>תורנויות</u></li>  
  <li class='li-other'><u>אחר</u></li>  
  <li class='li-man-power'><u>כוח אדם במחלקה</u></li>
  
</ul>

  <canvas baseChart width="800" height="500"
          [data]="pieChartData"
          [labels]="pieChartLabels"
          [chartType]="pieChartType"
          [options]="pieChartOptions"
          (chartHover)="chartHovered($event)"
          (chartClick)="chartClicked($event)"></canvas>

</div>
